<div style="position: absolute; display: flex; flex-direction: column;">
    <div style="display: flex; flex-direction: row;">
        
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle [class]="currentCotroller === 'orbit' ? 'selected' : 'not-selected'" (click)="controlSwitch(1)">Orbit Controls</mat-button-toggle>
            <mat-button-toggle [class]="currentCotroller === 'unitCreator' ? 'selected' : 'not-selected'" (click)="controlSwitch(2)">Unit Creator</mat-button-toggle>
            <mat-button-toggle [class]="currentCotroller === 'dragAndDrop' ? 'selected' : 'not-selected'"(click)="controlSwitch(3)">Select</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div style="border: 1px lightgray solid; display: flex; justify-content: center; padding: 25px; background-color: rgba(211, 211, 211, 0.452);">
        <form (ngSubmit)="onSubmit($event)" style="display: flex; flex-direction: column;">

            <mat-form-field class="form-group" [formGroup]="dimensions" autocomplete="off">
                <div class="form-group">
                    <mat-label for="width">
                    Width
                    </mat-label>
                    <input matInput id="width" type="text" formControlName="width">
                </div>
            </mat-form-field>
            <mat-form-field class="form-group" [formGroup]="dimensions">
    
            
                <div>
                    <mat-label for="depth">
                    Depth
                    </mat-label >
                    <input matInput id="depth" type="text" formControlName="depth">
                </div>
    
                
    
            </mat-form-field>
            <mat-form-field class="form-group" [formGroup]="dimensions">
    
            
                <div>
                    <mat-label for="height">
                    Height
                    </mat-label >
                    <input matInput id="height" type="text" formControlName="height">
                </div>
    
                
    
            </mat-form-field>
            <button mat-raised-button type="submit" color="accent">Change Dimensions</button>
        </form>
    </div>

</div>

