<div style="position: absolute; display: flex; flex-direction: column; z-index: 10;">
    <div style="display: flex; flex-direction: row;">
        
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle [class]="currentCotroller === 'orbit' ? 'selected' : 'not-selected'" (click)="controlSwitch(1)">Selector Controls</mat-button-toggle>
            <mat-button-toggle [class]="currentCotroller === 'unitCreator' ? 'selected' : 'not-selected'" (click)="controlSwitch(2)">Unit Creator</mat-button-toggle>
            <mat-button-toggle [class]="currentCotroller === 'dragAndDrop' ? 'selected' : 'not-selected'"(click)="controlSwitch(3)">Group</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div *ngIf="currentCotroller === 'unitCreator'" style="border: 1px lightgray solid; display: flex; flex-direction: column; justify-content: center; padding: 25px; background-color: rgba(211, 211, 211, 0.695);">
        <div>

            <form (ngSubmit)="onSubmit($event)" style="display: flex; flex-direction: column;">
    
                <mat-form-field class="form-group" [formGroup]="dimensions" autocomplete="off">
                    <div class="form-group">
                        <mat-label for="width">
                        Width
                        </mat-label>
                        <input matInput id="width" type="text" formControlName="width" [value]="dimensions.value.width">
                    </div>
                </mat-form-field>
                <mat-form-field class="form-group" [formGroup]="dimensions"  autocomplete="off">
        
                
                    <div>
                        <mat-label for="depth">
                        Depth
                        </mat-label >
                        <input matInput id="depth" type="text" formControlName="depth" [value]="dimensions.value.depth">
                    </div>
        
                    
        
                </mat-form-field>
                <mat-form-field class="form-group" [formGroup]="dimensions"  autocomplete="off">
        
                
                    <div>
                        <mat-label for="height">
                        Height
                        </mat-label >
                        <input matInput id="height" type="text" formControlName="height" [value]="dimensions.value.height">
                    </div>
        
                    
        
                </mat-form-field>
                <button mat-raised-button type="submit" color="accent">Change Dimensions</button>
            </form>
        </div>
        <div style="display: flex; justify-content: center; padding: 25px;">
            <button mat-raised-button (click)="swapOrientation()" color="primary">Rotate</button>
            
        </div>
    </div>
    <div *ngIf="currentCotroller === 'orbit' && unitIsSelected" style="border: 1px lightgray solid; display: flex; flex-direction: column; justify-content: center; padding: 25px; background-color: rgba(150, 150, 150, 0.695);">
        <form (ngSubmit)="onUnitSubmit($event)" style="display: flex; flex-direction: column;">

            <mat-form-field class="form-group" [formGroup]="unitAttributes" autocomplete="off">
                <div class="form-group">
                    <mat-label for="name">
                    Unit Name
                    </mat-label>
                    <input autocomplete="off" matInput id="name" type="text" formControlName="name" [placeholder]="unitName">
                </div>
            </mat-form-field>
            
            <button mat-raised-button type="submit" color="accent">Change Name</button>
        </form>
        <div>
            <p>Unit Name: {{unitName}}</p>
        </div>
        
        <div>
            <button mat-raised-button (click)="changeLevel(1)" color="primary">+</button>
            <button mat-raised-button (click)="changeLevel(-1)" color="primary">-</button>
            <p>Unit Level: {{unitLevel}}</p>
        </div>
        
    </div>
    <div *ngIf="currentCotroller === 'selector'" style="border: 1px lightgray solid; display: flex; flex-direction: column; justify-content: center; padding: 25px; background-color: rgba(150, 150, 150, 0.695);">
        Change Level:
        <div>
            <button mat-raised-button (click)="changeGroupLevel(1)" color="primary">+</button>
            <button mat-raised-button (click)="changeGroupLevel(-1)" color="primary">-</button>
            
        </div>
        
        <div>
            <button mat-raised-button (click)="combineUnits()" color="primary">Combine Two Units</button>
        </div>
        <div>
            <button mat-raised-button (click)="copyGroupOfUnits()" color="primary">Copy Units</button>
        </div>
        <div>
            <button mat-raised-button (click)="deselectAll()" color="accent">Deselect All</button>
        </div>
    </div>

</div>

